<div class="row">
    <div class="col-lg-2 col-md-2 col-xs-5 header">
        <back-button></back-button>
        <button ng-click="go('/details.employees')" class="btn btn-primary">
            <span title="Home">
                Home
            </span>
        </button>
    </div>

    <div class="col-lg-10 col-md-10 col-xs-7">
        <h1>Employee</h1>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{details.employee.firstName}}
            {{details.employee.lastName}}</h3>
    </div>
    <div class="panel-body">
        <img ng-src="/assets/photos/{{details.employee.picture}}">
        <table class="table table-hover">
            <tr>
                <td colspan="2">
                    <h3>{{details.employee.title}}</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>{{details.employee.city}}</h3>
                </td>
            </tr>
            <tr ng-show="details.employee.managerId">
                <td class="col-md-3">Manager</td>
                <td class="col-md-9">
                    <a href="" ng-click="go('details.employees/' + details.employee.managerId)">{{details.employee.managerName}}</a>
                </td>
            </tr>
            <tr ng-show="details.employee.reports">
                <td class="col-md-3">Direct Reports</td>
                <td class="col-md-9">
                    <button ng-click="go('employees/' + details.employee.id + '/reports')" class="btn btn-primary">
                        <span class="badge">{{details.employee.reports}}</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </td>
            </tr>
            <tr ng-show="details.employee.officePhone">
                <td class="col-md-3">Call Office</td>
                <td class="col-md-9">
                    <a href="tel:{{details.employee.officePhone}}">{{details.employee.officePhone}}</a>
                </td>
            </tr>
            <tr ng-show="details.employee.cellPhone">
                <td class="col-md-3">Call Cell</td>
                <td class="col-md-9">
                    <a href="tel:{{details.employee.cellPhone}}">{{details.employee.cellPhone}}</a>
                </td>
            </tr>
            <tr ng-show="details.employee.cellPhone">
                <td class="col-md-3">SMS</td>
                <td class="col-md-9">
                    <a href="sms:{{details.employee.cellPhone}}">{{details.employee.cellPhone}}</a>
                </td>
            </tr>
            <tr ng-show="details.employee.email">
                <td class="col-md-3">Email address</td>
                <td class="col-md-9">
                    <a href="mailto:{{details.employee.email}}">{{details.employee.email}}</a>
                </td>
            </tr>
        </table>
    </div>
</div>
