<div class="row">
    <div class="col-lg-2 col-md-2 col-xs-5 header">
        <button ng-click="back()" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left" title="Back"></span>
        </button>
        <button ng-click="go('/employees');" class="btn btn-primary">
            <span title="Home">
                Home
            </span>
        </button>
    </div>

    <div class="col-lg-10 col-md-10 col-xs-7">
        <h1>Organogram</h1>
    </div>
</div>

<organogram></organogram>