<div class="row">
    <div class="col-lg-2 col-md-2 col-xs-5 header">
        <button ng-click="back()" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left" title="Back"></span>
        </button>
        <button ng-click="go('/employees'); clearScope()" class="btn btn-primary">
            <span title="Home"> Home </span>
        </button>
    </div>

    <div class="col-lg-10 col-md-10 col-xs-7">
        <h1>Organogram</h1>
    </div>
</div>

<!--<organogram></organogram>-->

<img ng-src="/assets/photos/{{selectedEmployee.picture}}" title="{{selectedEmployee.firstName}} {{selectedEmployee.lastName}}" class="employee-avatar">
<ul class="organogram-top organogram">

    <li ng-repeat="employee in organogram track by $index" ng-include="'organogramTree'" >
        <img ng-src="assets/photos/{{employee.picture}}" title="{{employee.firstName}} {{employee.lastName}}" class="employee-avatar">
    </li>

</ul>

<script type="text/ng-template" id="organogramTree">
<img ng-src="/assets/photos/{{employee.picture}}" title="{{employee.firstName}} {{employee.lastName}}"
     class="employee-avatar">
<ul class="organogram">
    <li ng-repeat="employee in employee.subordinates" ng-include="'organogramTree'"></li>
</ul>
</script>


<!--<div class="row">
    <div class="col-lg-2 col-md-2 col-xs-5 header">
        <button ng-click="back()" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left" title="Back"></span>
        </button>
        <button ng-click="go('/employees');" class="btn btn-primary">
            <span title="Home">
                Home
            </span>
        </button>
    </div>

    <div class="col-lg-10 col-md-10 col-xs-7">
        <h1>Organogram</h1>
    </div>
</div>

<img ng-src="/assets/photos/{{selectedEmployee.picture}}" title="{{selectedEmployee.firstName}} {{selectedEmployee.lastName}}" class="employee-avatar">
<ul class="organogram-top organogram">
    <li ng-repeat="employee in organogram" ng-include="'organogramTree'"></li>
</ul>

<script type="text/ng-template" id="organogramTree">

    <img ng-src="/assets/photos/{{employee.picture}}" title="{{employee.firstName}} {{employee.lastName}}" class="employee-avatar">
    <ul class="organogram">
        <li ng-repeat="employee in employee.subordinates" ng-include="'organogramTree'"></li>
    </ul>

</script>-->
