<img ng-src="/assets/photos/{{selectedEmployee.picture}}" title="{{selectedEmployee.firstName}} {{selectedEmployee.lastName}}" class="employee-avatar">

<ul class="organogram-top organogram">
    <li ng-repeat="employee in organogram" ng-include="'organogramTree'"></li>
</ul>

<script type="text/ng-template" id="organogramTree">

    <img ng-src="/assets/photos/{{employee.picture}}" title="{{employee.firstName}} {{employee.lastName}}" class="employee-avatar">

    <ul class="organogram">
        <li ng-repeat="employee in employee.children" ng-include="'organogramTree'"></li>
    </ul>

</script>
